.app-bar-title {
    color: #004225;
    font-family: kanit;
    font-weight: bold;
    margin: 0 5vh 0 0;
}

.loginpage {
  height: 85vh;
}

p.ohje {
  color: white;
  font-family: kanit;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.loginpage {
  background-image: url("../EndUser/Materials/käsitausta.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: top 10px left;
}
