.frontpake {
  position: relative;
  color: #004225;
  font-weight: bold;
  font-family: kanit;
  margin: auto;
  margin-top: 2vh;
  min-width: 400px;
}

.frontDrawer {
  position: relative;
  margin: auto;
  background-color: #004225;
  font-family: kanit;
}

h1 {
  text-align: center;
  color: #004225;
  font-family: kanit;
}

.newsbox {
  margin: auto;
  position: relative;
  width: 93%;
  height: 65vh;
  margin: auto;
  margin-bottom: 5vh;
  max-width: auto;
  border: 1px solid #004225;
}

.footter {
  position: relative;
  height: 10px;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #004225;
  margin-bottom: 2vh;
}
