/*RESERVATION LIST OPTIONS*/

#ResListOptionsPohjadiv{
    background-color: white;
    padding: 1px 0 1px 0;
    height: auto;
}

#ResListOptionsColorDiv{
    background-color: #004225;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    height: 92%;
    /*background-image: url("temp.jpg");
    background-size: 100% 100%;*/
}

#submitButt{
    border-radius: 4px;
    margin-left: 5%;
}

#weightField {
    align-content: center;
}

.type {
    width: 50px;
}

#showReserved {
    width: auto;
}

#weight {
    border-radius: 3px;
    top: 1px;
    margin-left: 3px;
    width: 50px;
}
#size {
    border-radius: 3px;
    top: 1px;
    margin-left: 3px;
    width: 50px;
}
#distance {
    border-radius: 3px;
    top: 1px;
    margin-left: 3px;
    width: 50px;
}