/* INDEX.css */

body {
  margin: auto; 
  color: #FFF; 
  background:#004225; 
  font-weight: bold;
  font-family: kanit;
  margin: auto;
}

a:visited
{
color: #004225;
}

a:hover
{
color: #808080;
}

/* APP.css */
/* Arttu has joined the party*/

.App {
  text-align: center;
  background-color: #004225;
  width: 100%;
  height: 100vh;
  min-width: 400px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  margin: 0;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* REGISTER.css */


.registerWrapper
{
  width: 100%;
  height: 100vh;
  background: url("components/ui/EndUser/Materials/tausta2.png") no-repeat fixed;
  background-position: bottom -80px left;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}

.registerStructure
{ 
  padding: 10px;
  border-spacing: 3px;
}

.leftRegisterLabel
{
  font-family: kanit;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}

.rightRegisterField
{
 margin-left: 5px;
}

/* LOGIN.css */

.app-bar-title {
    color: #004225;
    font-family: kanit;
    font-weight: bold;
    margin: 0 5vh 0 0;
    display: inline-block;
}


.loginInputField
{
  width: 20%;
  border-style: solid;
  border-width: 3px;
  border-color: #004225;
  display: inline-block;

  /*margin-bottom: 10px;*/
}

.loginWrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: transparent;
}


.loginContent {
  background: url("components/ui/EndUser/Materials/käsitausta.png") no-repeat fixed;
  background-position: top 102px left;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  padding-top: 150px;
  color: #004225;
  font-size: 200px;
  max-width: 949px;   
  min-width: 100%;
  min-height: 100vh; 
  border: 0;
  }  

  .loginLabel {
    font-family: kanit;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

 .loginGroup {
  line-height: 1.5;
  align-content: left;
  font-family: kanit;
  font-size: 16px;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  }
  
.login-group button{
  width: 100%;
    text-align: left;
    color: #FFF;
    border: none;
    background: #004225; 
}

.login-links {
  font-family: kanit;
  font-size: 16px;
  text-align: left;
  padding-top: 7%;
}

a:link {
  color:#004225;
  text-decoration: none;
}

/* WASTEPROCESSOR.css */

h1 {
  color: red;
}

h2 {
  font-family: 'Kanit';
  font-size: 32px;
  text-align: center;
}


.menu {
  background-color: #004225 !important;

}

button.menu {
  font-family: 'Kanit' !important;
}

.map {
  font-family: 'Kanit';
  color: red;
}

.left {
  position: relative;
  width: 49%;
  margin: 10px 3px 0 3px;
  float: left;
  max-width: auto;
  min-width: 400px;
}

.subLeft {
  border: 1px solid #004225;
  height: 75vh;
}

.right {
  position: relative;
  width: 49%;
  margin: 10px 3px 0 3px;
  float: left;
  min-width: 400px;
}

.subRight {
  border: 1px solid #004225;
  height: 75vh;
}

/* ENDUSERFRONT.css */

.frontpake {
  position: relative;
  background-color: #004225;
  color: white;
  font-weight: bold;
  font-family: kanit;
  margin: auto;
  margin-top: 2vh;
  min-width: 400px;
}
.app-bar-title {
    color: #004225;
    font-family: kanit;
    font-weight: bold;
    margin: 0 5vh 0 0;
}

.frontDrawer {
  position: relative;
  margin: auto;
  background-color: #004225;
  font-family: kanit;
}

h1 {
  text-align: center;
  color: white;
  font-family: kanit;
}

.newsbox {
  margin: auto;
  position: relative;
  width: 93%;
  height: 65vh;
  margin: auto;
  margin-bottom: 5vh;
  max-width: auto;
  border: 1px solid white;
}

.footter {
background-image: url("components/ui/EndUser/Materials//hirvikarhu.png"),
                    url("components/ui/EndUser/Materials/Kunpitää.png"),
                    url("components/ui/EndUser/Materials/tausta2.png");
  background-position: left 10px bottom, top 20px right 60px ,top 10px right;
  background-size: 100px, 150px, auto;
  background-repeat: no-repeat, no-repeat;
  height: 100px;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #004225;
  margin-bottom: 1vh;
}


/* PROFILE.css */

.newOrder {
  margin-top: 8vh;
  color: white;
}

/* ORDER.css */

.Container {
  font-weight: bold;
  font-family: kanit;
  margin: auto;
  width: 50%;
  max-width: 800px;
}

p {
  text-align: left;
  padding-left: 1%;
}

table {
  font-size: 115%;
  padding-left: 5%;
  text-align: left;
}

#buttons {
  width:100%;
  margin-bottom: 10%;
}

#next {
text-align: right;
}

.footer {
  position: fixed;
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  margin: auto;
}

/* HISTORY.css */

p.history {
color: white;
}

h1.historytitle {
  color: white;
}

/* FRONTPAGE.css */

.frontpageWrapper{
  width: 100%;
  height: 100vh;
  background: url("components/ui/EndUser/Materials/tausta2.png") no-repeat fixed;
  background-position: bottom -80px left;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}

.frontpake {
  position: relative;
  color: #FFFFFF;
  font-weight: bold;
  font-family: kanit;
  margin: auto;
  margin-top: 2vh;
  min-width: 400px;
}

.frontDrawer {
  position: relative;
  margin: auto;
  background-color: #004225;
  font-family: kanit;
}

h1 {
  text-align: ce
  nter;
  color: #FFFFFF;
  font-family: kanit;
}

.newsbox {
  margin: auto;
  position: relative;
  width: 93%;
  height: 65vh;
  margin: auto;
  margin-bottom: 5vh;
  max-width: auto;
  border: 1px solid #004225;
}

.footter {
  position: relative;
  height: 10px;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #004225;
  margin-bottom: 2vh;
}

