/* GENERAL */

body {
  margin: auto; 
  color: #FFF; 
  background:#004225; 
  font-weight: bold;
  font-family: kanit;
  margin: auto;
}

::-webkit-scrollbar-track {
  background: transparent;
}

h1 {
  text-align: center;
  font-family: kanit;
}

a:link {
  color:#004225;
  text-decoration: none;
}

a:visited
{
color: #004225;
}

a:hover
{
color: #A6CE6B;
}

p {
  text-align: left;
  padding-left: 1%;
}

table {
  font-size: 115%;
  text-align: left;
}


/* APP */

.App {
  text-align: center;
  background-color: #004225;
  width: 100%;
  height: 100vh;
  min-width: 320px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  margin: 0;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.app-bar-title {
  color: #004225;
  font-family: kanit;
  font-weight: bold;
  margin: 0 5vh 0 0;
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/* REGISTER */

.registerWrapper
{
  margin: auto;
  width: 100%;
  background: url("components/ui/EndUser/Materials/tausta2.png") no-repeat;
  background-attachment: local;
  background-position: center bottom;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  align-content: center;
}

.registerStructure
{ 
  max-width: 90vh;
  min-width: 50vh;
  margin: auto;
  padding: 2%;
  margin-top: 15px;
  border-spacing: 3px;
  background-color: rgb(186, 221, 134);
  box-shadow: -10px 3px rgb(166, 206, 106);
  border-radius: 15px;
  /*  -webkit-transform: rotate(1deg); */ /*poista jos et halua rotatea*/ 
  /* transform: rotate(1deg); */ /*poista jos et halua rotatea*/ 
}

.leftRegisterLabel
{
  font-family: kanit;
  text-align: left;
  font-weight: bold;
  margin-left: 5%;
  font-size: 18px;
  color:#004225; 
}

.middleRegisterLabel
{
  font-family: kanit;
  text-align: left;
  font-weight: bold;
  margin-left: 8%;
  font-size: 18px;
  color:#004225; 
}

.rightRegisterField
{
 margin-left: 5px;
}

/* ADMIN/WASTEPROSSOR UPDATE */

.updateWrapper
{
  margin: auto;
  width: 100%;
  background-attachment: local;
  background-position: center bottom;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  align-content: center;
}

.updateStructure
{ 
  max-width: 90vh;
  min-width: 50vh;
  margin: auto;
  padding: 2%;
  margin-top: 15px;
  border-spacing: 3px;
  background-color: rgb(186, 221, 134);
  box-shadow: -10px 3px rgb(166, 206, 106);
  border-radius: 15px;
}

.leftUpdateLabel
{
  font-family: kanit;
  text-align: left;
  font-weight: bold;
  margin-left: 5%;
  font-size: 18px;
  color:#004225; 
}

.rightUpdateField
{
 margin-left: 5px;
}

/* WASTEPROSESSOR NEWUSER */

.newUserWrapper
{
  margin: auto;
  width: 100%;
  background-attachment: local;
  background-position: center bottom;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  align-content: center;
}

.leftSide 
{
  width: 55%;
  float: left;
}

.rightSide
{
  width: 44%;
  float: right;
}

.newUserStructure
{ 
  max-width: 55vh;
  margin: auto;
  padding: 2%;
  margin-top: 15px;
  border-spacing: 3px;
  background-color: rgb(186, 221, 134);
  box-shadow: -10px 3px rgb(166, 206, 106);
  border-radius: 15px;
}

.leftNewUserLabel
{
  font-family: kanit;
  text-align: left;
  font-weight: bold;
  margin-left: 5%;
  font-size: 18px;
  color:#004225; 
}

.rightNewUserField
{
 margin-left: 5px;
}

/* ENDUSER UPDATE */

.updateWrapperUser
{
  margin: auto;
  width: 100%;
  background: url("components/ui/EndUser/Materials/tausta2.png") no-repeat;
  background-attachment: local;
  background-position: center bottom;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  align-content: center;
}

.updateStructureUser
{ 
  max-width: 90vh;
  min-width: 50vh;
  margin: auto;
  padding: 2%;
  margin-top: 15px;
  border-spacing: 3px;
  background-color: rgb(186, 221, 134);
  box-shadow: -10px 3px rgb(166, 206, 106);
  border-radius: 15px;
}

.leftUpdateLabelUser
{
  font-family: kanit;
  text-align: left;
  font-weight: bold;
  margin-left: 5%;
  font-size: 18px;
  color:#004225; 
}

.rightUpdateFieldUser
{
 margin-left: 5px;
 width: 55%;
}


/* LOGIN */
#loginSignin {
  position: absolute;
  margin-top: 500px;
  margin-left: 70px;
  color: black;
}

.loginWrapper {
  width: 100%;
}

.loginParagraph {
  margin: 0%;
  padding: 0;
}

#loginText {
  position: absolute;
  margin-top: 55%;
  color: #004225;
  font-size: 15px;
  padding-left: 10px;
  width: 80%;
  overflow: scroll;
  height: 173px;
}

#bottomColor {
  background-color: white;
  width: 100%;
  height: 40vh;
}

.loginContent {
  margin: 0;
  background: url("components/ui/EndUser/Materials/Login-sticker.png"), url("components/ui/EndUser/Materials/käsitausta.png"); 
  background-repeat: no-repeat, no-repeat;
  background-position: 20vh 80vh, top 2vh left;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  padding: 0;
  font-size: 200px;
  height: 100%; 
  border: 0;
  color: #004225;
  }  


  .loginLabel {
    font-family: kanit;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .loginInputField
{
  width: 20%;
  border-style: solid;
  border-width: 3px;
  border-color: #004225;
  display: inline-block;

  /*margin-bottom: 10px;*/
}

 .loginGroup {
  line-height: 1.5;
  align-content: left;
  font-family: kanit;
  font-size: 16px;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  }
  
.login-links {
  font-family: kanit;
  font-size: 16px;
  text-align: left;
  padding-top: 7%;
}

/* react image uploader's container  */
.fileContainer {
  background-color: transparent !important;
  float: right;
  height: 50px;
  padding: 0px !important;
  margin-top: 0px !important;
  margin-right: 40px !important;
  box-shadow: none !important;
}

/* WASTEPROCESSOR.css */

h1 {
  color: #fff;
}

h2 {
  font-family: 'Kanit';
  font-size: 32px;
  text-align: center;
}


.menu {
  background-color: #004225 !important;

}

button.menu {
  font-family: 'Kanit' !important;
}

.map {
  font-family: 'Kanit';
  color: #FFF;
}

.left {
  position: relative;
  width: 49%;
  margin: 10px 3px 0 3px;
  float: left;
  max-width: auto;
  min-width: 400px;
}

.subLeft {
  border: 1px solid #004225;
  height: 75vh;
}

.right {
  position: relative;
  width: 49%;
  margin: 10px 3px 0 3px;
  float: left;
  min-width: 400px;
}

.subRight {
  border: 1px solid #004225;
  height: 75vh;
}

#locationDisabledInfo {
  position: absolute; 
  margin: 10px 0 0 0;
}

#varausKattiId{
  padding: 0;
  vertical-align: top;
}
#varausAlakattiId {
  padding: 0;
  vertical-align: top;
}

/* ENDUSERFRONT.css */

.frontpake {
  position: relative;
  background-color: #004225;
  color: white;
  font-weight: bold;
  font-family: kanit;
  margin: auto;
  margin-top: 0.1vh;
  min-width: 320px;
}
.app-bar-title {
  color: #004225;
  font-family: kanit;
  font-weight: bold;
  margin: 0 5vh 0 0;
}

.frontDrawer {
  position: relative;
  margin: auto;
  background-color: #004225;
  font-family: kanit;
}


.newsbox {
  margin: auto;
  position: relative;
  width: 93%;
  height: 65vh;
  margin: auto;
  margin-bottom: 5vh;
  max-width: auto;
  border: 1px solid white;
}


/* PROFILE.css */

.newOrder {
  margin-top: 8vh;
  color: white;
}

.registerButton {
  float: right;
  margin: 10px;
}

.cancelButton {
  float: left;
  margin: 10px;
}


/* ORDER.css */

#buttons {
  width:100%;
  margin-bottom: 10%;
}

#next {
text-align: right;
}

.footer {
  position: fixed;
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  margin: auto;
}

/* FRONTPAGE.css */

.frontPageWrapper{
  width: 100%;
  height: 100%;
  background: url("components/ui/EndUser/Materials/tausta2.png") no-repeat fixed;
  background-position: bottom left;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
}

.FrontPageContainer {
  font-weight: bold;
  font-family: kanit;
  margin: auto;
  width: 98%;
  max-width: 80%;
  min-height: 100vh;
  align-content: center;
}

.frontPageBox
{ 
  max-width: 90vh;
  min-width: 100%;
  margin: auto;
  padding: 2%;
  margin-top: 15px;
  margin-bottom: 30px;
  border-spacing: 1px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 3px rgb(166, 206, 106);
  border-radius: 15px;
  color: #004225;
  font-family: kanit;
  /*-webkit-transform: rotate(1deg);  poista jos et halua rotatea*/ 
  /*transform: rotate(1deg); poista jos et halua rotatea*/ 
}


.frontDrawer {
  position: relative;
  margin: auto;
  background-color: #004225;
  font-family: kanit;
}

.newsbox {
  margin: auto;
  position: relative;
  width: 93%;
  height: 65vh;
  margin: auto;
  margin-bottom: 5vh;
  max-width: auto;
  border: 1px solid #004225;
}

/* ORDER */



.orderWrapper
{
  margin: auto;
  width: 100%;
  /*background: url("components/ui/EndUser/Materials/tausta2.png") no-repeat;*/ /*Joku random kuva joka ei ilmeisesti tehny mitää*/
  background-attachment: local;
  background-position: center bottom;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  align-content: center;
}

.orderStructure
{ 
  max-width: 90vh;
  min-width: 98%;
  margin: auto;
  padding: 1%;
  margin-top: 1%;
  border-spacing: 3px;
  background-color: rgb(186, 221, 134);
  /* box-shadow: -10px 3px rgb(166, 206, 106);*/ /* LIIKAA VARJOJA*/
  border-radius: 15px;
  /*  -webkit-transform: rotate(1deg); */ /*poista jos et halua rotatea*/ 
  /* transform: rotate(1deg); */ /*poista jos et halua rotatea*/ 
}

.leftOrderLabel
{
  font-family: kanit;
  text-align: left;
  font-weight: bold;
  margin: 0 0 0 1vw;
  padding: 0;
  font-size: 15px;
  color:#004225; 
}

.orderH2 {
  margin: auto;
  padding-top: 20px;
}

.rightOrderField
{
 margin-left: 5px;
}

#HomeClientHeader {
  text-align: right;
  margin: 0 20px 0 0;
  font-size: medium;
}
#OrgClientHeader {
  text-align: left;
  margin: 0 0 0 15px;
  font-size: medium;
}

#ImagePreview {
  float: right;
  min-width: 50px;
  max-width: 35%;
  height: 100%;
  padding: 5px;
}

.fileContainer {
  background-color: transparent;
  box-shadow: none;
  padding: 0 0 0 70px;
  transition: none;
  right: 2%;
}

#SummaryImagePreviews{
  border: 2px solid #004225;
  width: 100px;
  height: auto;
  margin: 10px 0;
  padding: 7px 7px 0 7px;
}

#CatsCheckmark {
  float: left;
  user-select: none;
  border: 5px solid #004225;
  border-radius: 100%;
}

#SubCatsCheckmark {
  float: left;
  user-select: none;
  border: 5px solid #004225;
  border-radius: 100%;
}

#HouseCheckmark {
  position: absolute;
  margin: 10px 0 0 10px;
  float: left;
  color: #FFF;
  fill: currentcolor;
  height: 4vw;
  width: 4vw;
  user-select: none;
  border: 5px solid #004225;
  border-radius: 100%;
  transition: none;
}

#OrgCheckmark {
  position: absolute;
  margin: 10px 0 0 10px;
  float: left;
  color: #FFF;
  fill: currentcolor;
  height: 4vw;
  width: 4vw;
  user-select: none;
  border: 5px solid #004225;
  border-radius: 100%;
  transition: none;
}

/* ADMIN */

.addCatLabel {
  text-align: left;
  font-family: kanit;
  font-weight: bold;
  margin: auto;
  margin-left: 2%;
  font-size: 20px;
  padding: 0;
}