h1 {
  color: red;
}

h2 {
  font-family: 'Kanit';
  font-size: 32px;
  text-align: center;
}


.menu {
  background-color: #004225 !important;

}

button.menu {
  font-family: 'Kanit' !important;
}

.map {
  font-family: 'Kanit';
  color: red;
  fontSize: 48px;
  paddingTop: 16px;
  marginBottom: 12px;
  fontWeight: 400;
}

.left {
  position: relative;
  width: 49%;
  margin: 10px 3px 0 3px;
  float: left;
  max-width: auto;
  min-width: 400px;
}

.subLeft {
  border: 1px solid #004225;
  height: 75vh;
}

.right {
  position: relative;
  width: 49%;
  margin: 10px 3px 0 3px;
  float: left;
  min-width: 400px;
}

.subRight {
  border: 1px solid #004225;
  height: 75vh;
}
